BasedOnStyle: LLVM

BreakBeforeBraces: Attach

AllowShortBlocksOnASingleLine: Never
AllowShortFunctionsOnASingleLine: Inline
ColumnLimit: 120
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortEnumsOnASingleLine: false
AlwaysBreakTemplateDeclarations: Yes
MaxEmptyLinesToKeep: 4
IndentWidth: 4
TabWidth: 4
UseTab: Never
NamespaceIndentation: All

SortIncludes: true
IncludeBlocks: Preserve

IncludeCategories:
  - Regex: '<glad/.*>'
    Priority: 1

  - Regex: '<GLFW/.*>'
    Priority: 2

  - Regex: '<.*>'
    Priority: 3

  - Regex: '".*"'
    Priority: 4